@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  min-height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* handle on hover */
::-webkit-scrollbar-track:hover {
  background-color: #555;
}

/* sidebar settings */

.sidebar {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-box {
  z-index: -1;
}

.flex-box {
  width: 320px;
  height: 100px;
}

.dashboard-chart {
  width: 95%;
  display: block;
}

.boxes-row3 {
  width: 650px;
  height: 250px;
  padding: 15px;
}

@media only screen and (max-width: 824px) {
  .calendar {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 750px) {
  .boxes-row3 {
    width: 500px;
  }
}

@media only screen and (max-width: 521px) {
  .dashboard-button {
    display: none;
  }

  .boxes-row3 {
    width: 300px;
  }
}
